/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: rgb(173, 211, 207); /* Gradient background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Translucent background */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.32);
}


h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 50px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Translucent input background */
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: red;
}